html{ box-sizing: border-box; font-family:sans-serif; }
*, *::before, *::after {box-sizing:inherit;}


body
{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-repeat: no-repeat; 
    
}


nav 
{ 
    float: right;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    margin-right: 48px;

    
}


nav > a



{   
    padding: 15px;

    
}

header
{
    display: flex;
    justify-content: space-between;
    

}

hr 
{   
    
    
    margin-bottom: 40px;
}


.image
{    
    background-repeat: no-repeat;
    display:flex;
    width: 1200px; 
    height:500px;
justify-content: center top;
    line-height:700px;
    margin:0px auto;
    vertical-align: center;
    margin-left: centered;
    border: 1px solid blue;
    top: 100%;
    
}
.restaurant1 {
     
    
    margin: auto;
   
}

