html{box-sizing: border-box; font-family: sans-serif; }
*, *::before, *::after {box-sizing:inherit;}

.timonlogo {
  height:250px;
  width: 250px;
  padding-bottom: 25px;
}

body {
  width: 1200px;
  margin: auto;
}

nav {
  position: fixed;
  width: 200px;
  height: 300px;
  margin-left: -100px;
}

nav ul {
  padding-left: 10px;
  padding-bottom: 10px;
}

nav ul li {
  list-style: none;
  color: #697069;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav ul li i {
  font-size: 20px;
  color: #C15C0C;
  padding-right: 15px;
}

nav ul li:hover {
  cursor: pointer;
  background: rgb(66, 140, 225, .5);
  border-radius: 10px;
  width: 160px;
  
}

header {
  width: 1000px;
  height: auto;
  margin-left: 100px;
  margin-bottom: 0px;
}

#logo-social {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

#social {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  
}

#social i {
  font-size: 40px;
  padding: 5px;
}

#FB {
  color: #3b5998;
}

#TW {
  color: #1da1f2;
}

#IG {
  color: #c32aa3;
}

#social img {
  width: 80px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: -20px;
}

#logo {
  width: 400px;
  height: 200px;
}

#headerpic {
  width: 1000px;
  height: 400px;
  background-image: url(Images/Restaurant.jpg);
  background-size: 100%;
  background-position-y: 62%;
  margin-top: 0px;  
}

main {
  
  width: 1000px;
  height: auto;
  margin-left: 100px;
}

.some-page-wrapper {
  padding-top: 50px;
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;

}

.box1 {
width: 300px;
height: 250px;
background-color: #428CE1;
border: 3px solid #697069;
}

.box2 {
width: 300px;
height: 250px;
background-color: #C15C0C;
border: 3px solid #697069;
  
}

.box3 {
width: 300px;
height: 250px;
background-color: #428CE1;
border: 3px solid #697069;
}

.boxtitle {
  color: #17363A;
  height: 40px;
  width:280px;
  margin-left: 10px;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #dfd2c1;
}

.box1header {
  display: flex;
}

.boxheadertitle {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 13px;
}

.address {
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  color: #17363A;


}

.headerdate {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 13px;
  color: #17363A;
}

.box1news {
  font-size: 13px;
  padding:20px;
  color: #17363A;
}

/* .ribeyeimg {
  width: 275px;
  height: 100px;
  padding-top: 20px;
  padding-left: 20px;
} */

.ribeyepic {
  width: 250px;
  height: 85px;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url(ribeye.jpg);
  background-position-y: -70px;
  background-position-x: -30px;

}

.ribeyename {
  font-size: 13px;
  color: #17363A;
  padding-left: 20px;
  padding-top: 10px;
}

.ribeyedescription {
  font-size: 13px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 18px;
  color: #17363A;
}

.map {
  padding-left: 20px;
  padding-top: 20px;
}

.contact {
  font-size: 10px; 
  padding-top:20px;
  color: #17363A;
  text-align: center;
}

#information-Pics {
  margin-top: 50px;
  
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information {
 padding-top: 0px;
 width: 700px;
 height: auto;

}

#info1 p {
  padding-right: 10px;
}

.infotabs {
 display: flex;
}

#infotab1 {
  height: 50px;
  width: 200px;
  background-color: #dfd2c1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:15px 0px 0px 20px;
  color: #17363A;

  
}

#infotab2 {
  height: 50px;
  width: 200px;
  background-color: #428ce1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:15px 0px 0px 80px;
  color: #17363A;
}

#infotab3 {
  height: 50px;
  width: 200px;
  background-color: #697069;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:15px 0px 0px 85px;
  color: #17363A;

}

#infotab1.show {
  height: 50px;
  width: 200px;
  background-color: #dfd2c1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:15px 0px 0px 20px;
  border-bottom: 2px solid #17363A;
  color: #17363A;
}

#infotab2.show {
  height: 50px;
  width: 200px;
  background-color: #428ce1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:15px 0px 0px 80px;
  border-bottom: 2px solid #17363A;
  color: #17363A;
}

#infotab3.show {
  height: 50px;
  width: 200px;
  background-color: #697069;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:15px 0px 0px 85px;
  border-bottom: 2px solid #17363A;
  color: #17363A;
  
}

#info1 {
  height: 750px;
  width: 700px;
  background-color:#dfd2c1;
  z-index: 2; 
  position: relative;
  top: -16px;
  color: #17363A;
}

#info1.show {
  height: 750px;
  width: 700px;
  background-color:#dfd2c1;
  z-index: 4;
}

#info1 p {
  padding-left: 15px;
}

#info1 p:nth-child(1) {
  padding-top: 0px;
}

#info1 img {
  width: 700px;
  padding: 15px;
}

#info2 {
  height: 0px;
  width: 0px;
  background-color: #428ce1; 
  visibility: hidden;
}

#info2.show {
  height: 1735px;
  width: 700px;
  position: relative;
  top: -793px;
  z-index: 3;
  background-color:#428ce1;
  visibility: visible;
}





#menulist {
  height: auto;
}

#info3 {
  height:0px;
  width: 0px;
  background-color: #697069;
  visibility: hidden;
}

#info3.show {
  height:750px;
  width: auto;
  background-color: #697069;
  position: relative;
  top: -793px;
  visibility: visible;
  z-index: 6;
  
  
}

h1 {
  color: #17363A;
  font-size: 40px;
  padding: 15px;
  font-style: italic;
  padding-top: 20px;
  margin-bottom: 5px;
}

.course {
 background-color: rgb(221, 210, 195, .5);
 /* opacity: .5; */
 height: 550px;
 padding-left: 150px;
 padding-right: 20px;
}

h2{
  padding: 0px;
  font-size: 25px;
  margin: 0px;
  margin-left: -120px;
}

.appheader {
  display: flex;
}

.see {
  font-size: 20px;
  padding-left: 500px;
}

.Appetize {
  position: relative;
  top: 70px;
}

.item { 
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 700px;
  padding-right:100px;
}

.item .name {
  font-weight: bold;
  font-size: 20px;
  flex-grow: 5;
  color: rgb(13, 62, 117);
  flex-basis: 50%;
  flex-grow: 4;
  padding-left: 10px;
}

.price {
  font-style: italic;
  font-size: 15px;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: right;
}

.item .description {
  padding-left: 20px;
  flex-grow: 3;
}

#extra a {
  margin-right: 0px;
}

.item img {
  width: 15px;
  flex-grow: 2;
  margin-right: 10px;
}

form {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  padding: 15px 10px;
  width: 300px;
}

label {
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 25px;
  padding-left: 15px;
}

select {
  font-size: 12px;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  margin-bottom: 15px;
  font-size: 20px;
  width: 200px;
  text-align: center;
  padding: 20px;
}

#foodpics {
  background-color:#dfd2c1;
  border: 3px solid #697069;
  width: 250px;
  height: 1500px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  
  
}

#foodpics > .foodpicscontainer div {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#foodpics h1 {
  padding-top: 20px;
  text-align: center;

}

#food1 {
  background-image: url("Images/Salumi-Formaggi\ Platter.jpg");
  background-size: 100%;
  background-position: 40% 98%;
  background-repeat: no-repeat;
}

#food2 {
  background-image: url("Images/Brick\ Oven\ Salmon\ Oreganato.jpg");
  background-size: 100%;
  background-position: 40% 150%;
  background-repeat: no-repeat;
}

#food3 {
  background-image: url("Images/200z.\ Bone-In\ Rib\ Eye.jpg");
  background-size: 110%;
  background-position: 97% 90%;
  background-repeat: no-repeat;
}

#food4 {
  background-image: url("Images/Tiramisu.jpg");
  background-size: 100%;
  background-position: 40% 35%;
  background-repeat: no-repeat;
}

#food5 {
  background-image: url("Images/Oreo\ Zeppole.jpg");
  background-size: 150%;
  background-position: 40% 150%;
  background-repeat: no-repeat;
}

#food6 {
  background-image: url("Images/Strawberry\ Shortcake.jpg");
  background-size: 150%;
  background-position: 40% 150%;
  background-repeat: no-repeat;
} 

footer {

  
  width: 1000px;
  height: 20px;
  margin-left: 100px;
  border-bottom: 2px solid #697069;
}

